.layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vh;
  background-color: var(--bg-main);
}

.contentArea {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.main {
  padding: 24px 32px;
  flex: 1;
}

@media (max-width: 768px) {
  .layout {
    display: block; /* Remove o grid pra tela toda ser o conteúdo */
  }
  .contentArea {
    padding-top: 60px; /* Empurra todo o conteúdo, incluindo Navbar, para baixo do Header Fixo */
  }
  .main {
    padding: 16px 16px 24px 16px;
  }
}
